/local.properties

#for gradle, IDEA
.gradle
gradle.properties
!.idea/runConfigurations/*
.idea/copyright/
.idea/inspectionProfiles/
.idea/libraries/
.idea/*.xml
.idea/.name
.idea/fileTemplates/
build
*.iml

captures
.DS_Store
